<div id="agentNode{{id}}" class="uiElement uiBackground uiAgentNode" style="z-index: 100{{id}}">
    <div class="nodeTitle">{{type}} Agent ({{id}})</div>
    <div class="nodeLabelValue"><div class="nodeLabel">name</div><input class="nodeValue" type="text" data-property="name" value="{{name}}" /></div>
</div>