<div id="node{{id}}" class="uiElement uiBackground uiGlow uiNode" style="z-index: 100{{id}}">
    <div class="nodeTitle"><div class="nodeSizeToggle">&nbsp;</div><span class="nodeTitleType">{{type}} ({{id}})</span><span class="nodeTitleName">{{name}}</span></div>
    <div class="nodeLabelValue"><div class="nodeLabel">name</div><input class="nodeValue" type="text"  data-property="name" value="{{name}}" /></div>
</div>
</div>