<div id="node{{id}}" class="uiElement uiBackground uiGlow uiNode" style="z-index: 100{{id}}">
    <div class="nodeTitle"><div class="nodeSizeToggle">&nbsp;</div><span class="nodeTitleType nodeExpanded">{{type}} ({{id}}) agent</span><span class="nodeCollapsed"><span class="nodeTitleName">{{name}}</span> agent</span></div>
    <div class="nodeLabelValue"><a class="nodeLabel nodeResultLabel">result</a><div class="nodeValue nodeLastResult">{{#lastResult}}{{/lastResult}}</div></div>
    <div class="nodeLabelValue"><a class="nodeLabel nodeNameInput">name</a><input class="nodeValue" type="text" data-property="name" value="{{name}}" /></div>
</div>