<div class="nodeLabelValue">
    <div class="nodeLabel">key</div>
    <input class="nodeValue" type="text" data-property="key" value="{{key}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">model</div>
    <input class="nodeValue" type="text" data-property="model" value="{{model}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">heat</div>
    <input class="nodeValue" type="text" data-property="temperature" value="{{temperature}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">min len</div>
    <input class="nodeValue" type="text" data-property="minLength" value="{{minLength}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">max len</div>
    <input class="nodeValue" type="text" data-property="maxLength" value="{{maxLength}}" />
</div>