<div class="nodeLabelValue">
    <div class="nodeLabel">key</div>
    <input class="nodeValue" type="text" data-property="key" value="{{key}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">model</div>
    <input class="nodeValue" type="text" data-property="model" value="{{model}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">heat</div>
    <input class="nodeValue" type="text" data-property="temperature" value="{{temperature}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">tokens</div>
    <input class="nodeValue" type="text" data-property="maxTokens" value="{{maxTokens}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">top k</div>
    <input class="nodeValue" type="text" data-property="topK" value="{{topK}}" />
</div>
<div class="nodeLabelValue">
    <div class="nodeLabel">top p</div>
    <input class="nodeValue" type="text" data-property="topP" value="{{topP}}" />
</div>